[Desktop Entry]
Name=PRIZ PLAYER ;]
Path=/home/priz/TRANSFER/prizplayer
Comment=A music player with a terminal aesthetic
GenericName=Music Player
Exec=/home/priz/TRANSFER/prizplayer/prizplayer.py>/home/priz/TRANSFER/prizplayer/out.txt
Icon=/home/priz/TRANSFER/prizplayer/assets/icon.png
Type=Application
Categories=Audio;AudioVideo
MimeType=text/javascript;
